.footerContainer{
    width: 100%;
    color: var(--color-text-on-dark-bg);
    text-align: center;
    font-size: 0.9em;
    margin-top: auto; /* Truco para empujarlo hacia abajo */
    
}

.footerContainer p {
    margin: 5px 0;
    color: var(--color-text-on-dark-bg);
}